@model GestorTareas_MVC.Models.Tarea

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles de Tarea</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            background: linear-gradient(45deg, #FFE3C3, #FFE2C1);
            color: #030331;
        }

        .container {
            font-family: 'Montserrat Thin', sans-serif;
        }

        .titulo-grande {
            font-size: 2.3rem;
            white-space: nowrap;
        }

        .details-table {
            width: 100%;
            border-collapse: collapse;
        }

            .details-table th,
            .details-table td {
                padding: 8px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }

        .details-label {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <h2 class="text-center mb-4 text-bold titulo-grande">DETALLES DE LA TAREA</h2>
                <table class="details-table">
                    <tr>
                        <th class="details-label">Título:</th>
                        <td>@Html.DisplayFor(model => model.Titulo)</td>
                    </tr>
                    <tr>
                        <th class="details-label">Descripción:</th>
                        <td style="max-width: 300px; word-wrap: break-word;">@Html.DisplayFor(model => model.Descripcion)</tdstyle>
                    </tr>
                    <tr>
                        <th class="details-label">Fecha de expiración:</th>
                        <td>@Html.DisplayFor(model => model.FechaVencimiento)</td>
                    </tr>
                    <tr class="form-group">
                        <th class="details-label">Prioridad:</th>
                        <td>
                            @{
                                string prioridad = Model.Prioridad.ToString();
                                if (prioridad == "Baja")
                                {
                                    <span>Baja 🟢</span>
                                    ;
                                }
                                else if (prioridad == "Media")
                                {
                                    <span>Media 🟡</span>
                                    ;
                                }
                                else if (prioridad == "Alta")
                                {
                                    <span>Alta 🔴</span>
                                    ;
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <th class="details-label">Completada:</th>
                        <td>@Html.DisplayFor(model => model.Completada)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-md-6">
                <div class="text-center">
                    <a asp-action="Index" class="btn btn-primary">Volver a la Lista</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

